.title, .btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}

.btns > button {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 10px;
  border-color: rgba(0, 255, 255, 0.377);
}