#layoutViewport {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
#bottombar {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: red;
  transform-origin: left bottom;
  transform: translate(0px, 0px) scale(1);
}
#forcescrolling {
  width: 100%;
  height: 2000px;
  background-color: green;
}